.container
  %h3= @profile.phones_text
  %fieldset.edit-profile-form-address
    .row
      .col-sm-4
        = f.input :cell_phone
      .col-sm-4
        = f.input :home_phone
      .col-sm-4
        = f.input :business_phone
