%h3= @profile.phones_text
%fieldset.edit-profile-form-address
  .row
    .col-sm-4
      %label Celular
      %input.form-control
    .col-sm-4
      %label Residencial
      %input.form-control
    .col-sm-4
      %label Profissional
      %input.form-control
