.partners.container
  %h2.partners-partner-title= t('partners.partners_title')
  .partners-partner
    %p
      %figure
        %img.partners-partner-logo-img{ src: image_path('logo-google.png') }
    %p.lead= t('partners.google')

  .partners-partner
    %p
      %figure
        %img.partners-partner-logo-img{ src: image_path('logo-cria.png') }
    %p.lead= t('partners.cria')

  .partners-partner
    %p
      %figure
        %img.partners-partner-logo-img{ src: image_path('logo-sitawi.png') }
    %p.lead= t('partners.sitawi')

