%section.form-block.child_fields.profile-form-child
  %form
    %fieldset
      .row
        .col-sm-6.col-md-4
          %label.profile-form-block-label Nome
          %p.form-control-static {{ child.name }}
        .col-sm-6.col-md-3
          %label.profile-form-block-label Data de Nascimento
          %p.form-control-static {{ child.birth_date }}
        .col-sm-6.col-md-3
          %label.profile-form-block-label Sexo
          %p.form-control-static {{ child.gender }}
