%section.form-block.child_fields.profile-form-child
  .col-sm-4
    = f.input :name
  .col-sm-3
    = f.input :birth_date, as: :date_picker, input_html: { format: :short }
  .col-sm-3
    %label.profile-form-block-label Sexo
    %label.radio-inline.profile-form-radio
      %input{id: 'male', type: 'radio', name: 'gender'}
      %span.custom-check-box
      Masculino
    %label.radio-inline.profile-form-radio
      %input{id: 'female', type: 'radio', name: 'gender'}
      %span.custom-check-box
      Feminino
  .col-sm-2
    %label.profile-form-block-label &nbsp;
    %button.profile-form-save-button Salvar
  .form-control-static
    = remove_fields_link('Remover', f, container_to_hide: '.child_fields')
