.how-works-partner
  .how-works-content
    %h3
      Como Funciona
    .row
      .col-md-4.faca-parte
        = image_tag '1_comofunciona.svg'

      .col-md-4.inicie-magica
        = image_tag '2_comofunciona.svg'

      .col-md-4.pronto
        = image_tag '3_comofunciona.svg'

    .row.how-works-text
      .col-md-4.faca-parte
        %h4
          Faça Parte
        %p
          Faça seu cadastro no site e em seguida faça o download do aplicativo na Apple Store ou Google Play Store, ou ainda receber por SMS
      .col-md-4.inicie-magica
        %h4
          Inicie a mágica
        %p
          Nosso sistema irá selecionar as melhores mensagens para mandar pra você
      .col-md-4.pronto
        %h4
          Pronto!
        %p
          As mensagens começam a chegar em seu celular, sempre considerando a idade de seu bebê, ou o estágio de sua gravidez
