%section.subjects.container
  .posts.subject.col-md-9
    = render partial: 'article', collection: @presenter.articles

    %ul.pager.col-md-12
      - if @presenter.render_next_step?
        %li.previous
          = link_to t('views.blog.older_html'), @presenter.previous_blog_page
      - if @presenter.render_previous_step?
        %li.next
          = link_to t('views.blog.newer_html'), @presenter.next_blog_page

  = render 'sidebar',
    tags: @presenter.tags_for_sidebar,
    categories: @presenter.categories_for_sidebar
