# vim: filetype=yaml
option_settings:
 - option_name: RDS_DB_NAME
   value: probebe_production
 - option_name: RDS_USERNAME
   value: pro_bebe
 - option_name: RDS_PASSWORD
   value: pro-bebe
 - option_name: RDS_HOSTNAME
   value: pro-bebe.chlrnlbq3fdx.us-east-1.rds.amazonaws.com
 - option_name: RDS_PORT
   value: 3306
