# vim: filetype=yaml
option_settings:
 - option_name: RDS_DB_NAME
   value: probebe-production
 - option_name: RDS_USERNAME
   value: probebe
 - option_name: RDS_PASSWORD
   value: probebe01
 - option_name: RDS_HOSTNAME
   value: "probebe-production.cqxouerjym0n.us-east-1.rds.amazonaws.com"
 - option_name: RDS_PORT
   value: 3306
 - option_name: REDIS_PROVIDER
   value: "redis://probebe.z7y8un.0001.use1.cache.amazonaws.com:6379/"
