# vim: filetype=yaml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_rpush":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      . /opt/elasticbeanstalk/support/envvars

      sleep 5

      su -s /bin/bash -c "bundle exec rpush stop -e production || true" $EB_APP_USER

  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_rpush":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      . /opt/elasticbeanstalk/support/envvars

      sleep 5

      su -s /bin/bash -c "bundle exec rpush stop -e production" $EB_APP_USER
