# vim: filetype=yaml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_rpush":
    mode: "000755"
    content: |
      #!/bin/sh

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd /var/app/current

      sleep 5

      su -s /bin/bash -c "bundle exec rpush stop -e production" $EB_APP_USER

  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_rpush":
    mode: "000755"
    content: |
      #!/bin/sh

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd /var/app/current

      sleep 5

      su -s /bin/bash -c "bundle exec rpush start -e production" $EB_APP_USER
