# vim: filetype=yaml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_rpush":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      . /opt/elasticbeanstalk/support/envvars

      sleep 5

      bundle exec rpush stop -e production || true

  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_rpush":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      . /opt/elasticbeanstalk/support/envvars

      sleep 5

      bundle exec rpush start -e production
