# vim: filetype=yaml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      . /opt/elasticbeanstalk/support/envvars

      sleep 5

      bundle exec sidekiq \
        -e production \
        -P /var/app/support/pids/sidekiq.pid \
        -C /var/app/current/config/sidekiq.yml \
        -L /var/app/support/logs/sidekiq.log \
        -d

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      . /opt/elasticbeanstalk/support/envvars

      cd /var/app/current

      sleep 5

      if [ -f /var/app/support/pids/sidekiq.pid ]
      then
        kill -9 `cat /var/app/support/pids/sidekiq.pid` || true
      fi
