# vi: set ft=yaml :
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_add_swap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      SWAP_FSTAB='/swapfile   none    swap    sw    0   0'

      [[ ! -f /swapfile ]] && sudo dd if=/dev/zero of=/swapfile bs=1G count=1
      sudo chmod 600 /swapfile

      sudo swapon -s | grep /swapfile
      if [[ $? -ne 0 ]]; then
        sudo mkswap /swapfile
        sudo swapon /swapfile
      fi

      sudo cat /etc/fstab | grep /swapfile
      [[ $? -ne 0 ]] && sudo bash -c "echo '$SWAP_FSTAB' >> /etc/fstab"
