# vi: set ft=yaml :
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_add_swap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      SWAP_FSTAB='/swapfile   none    swap    sw    0   0'

      [[ ! -f /swapfile ]] && dd if=/dev/zero of=/swapfile bs=64M count=16
      chmod 600 /swapfile

      swapon -s | grep /swapfile
      if [[ $? -ne 0 ]]; then
        mkswap /swapfile
        swapon /swapfile
      fi

      cat /etc/fstab | grep /swapfile
      [[ $? -ne 0 ]] && bash -c "echo '$SWAP_FSTAB' >> /etc/fstab"
