# vim: filetype=yaml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/51_write_crontab":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/scripts/use-app-ruby.sh
      . /opt/elasticbeanstalk/support/envvars

      bundle exec whenever -w
