# vim: filetype=yaml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/51_write_crontab":
    mode: "000755"
    content: |
      #!/bin/sh

      cd /var/app/current

      . /opt/elasticbeanstalk/support/envvars
      source /usr/local/share/chruby/chruby.sh

      chruby-exec 2.1 -- bundle exec whenever -w
