<!DOCTYPE html>
<html>
<head>
  <title>PaperTrailViews</title>
  <%= stylesheet_link_tag    "papertrail_views/application", media: "all" %>
  <%= javascript_include_tag "papertrail_views/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
