%div
  <b>Nome</b>
  = @profile.name
- if @profile.gender
  %div
    <b>Sexo</b>
    = t "general.gender.#{@profile.gender}"
- if @profile.avatar_url
  %div
    <b>Foto</b>
    = image_tag @profile.avatar_url
