
= render 'probebe_gallery', picture: record.picture, field_name: 'site_banner[picture_id]', type: 'site_banner', field_label: t('activerecord.attributes.site_banner.background_image'), crop_ratio: 3.84

