%li.timeline-month{class: "month-step-#{@month_step.next_step}", id: dom_id(timeline_month)}
  = link_to timeline_month.date.strftime("%B %Y"), timeline_monthly_path(@child, date: timeline_month.date), remote: true, :format => :js
  .month-timeline