@import 'mixins';

.subject-header {
  h2 {
    border-radius: 5px;
    border: 1px solid $border-gray;
    font-weight: 300;
    line-height: 60px;
    margin: 20px auto 50px;
    position: relative;
    text-align: center;
    width: 70%;
    font-size: 24px;

    &:before {
      border-top: 1px dashed $border-gray;
      content: ' ';
      display: block;
      left: -23%;
      position: absolute;
      top: 50%;
      width: 20%;
    }

    &:after {
      border-top: 1px dashed #cccccc;
      content: ' ';
      display: block;
      position: absolute;
      right: -23%;
      top: 50%;
      width: 20%;
    }

    .highlight {
      font-weight: 400;
    }
  }
}

@mixin subject($bg-color, $color) {
  h2 {
    background: $bg-color;
  }
  .highlight {
    color: $color;
  }
}

.subject-health {
  @include subject($bg-red, $red);
}

.subject-education {
  @include subject($bg-orange, $orange);
}

.subject-soctionemotional {
  @include subject($bg-purple, $purple);
}

.subject-finance {
  @include subject($bg-green, $green);
}

.subject-security {
  @include subject($bg-yellow, $yellow);
}

.subject-picture, .subject-picture-split {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  text-align: center;
  z-index: 5px;

  p {
    padding-top: 10px;
  }
}

.subject-picture {
  border: 2px solid $border-gray;
  width: 250px;

  figure {
    height: 200px;
    border-bottom: 4px solid $border-gray;
  }
}

.subject-picture-split {
  position: relative;

  figure {
    border-bottom: 4px solid $border-gray;
    border-radius: 5px;
    border: 4px solid $border-gray;
    height: 200px;
    width: 100%;
  }
}

.subject-picture-split-see-all-posts {
  @include default-button();
  color: #fff;
  display: block;
  font-size: 20px;
  width: 50%;
  margin: 30px 0 0 25%;
  float: left
}

.health-button {
  background-color: $red;
}

.education-button {
  background-color: $orange;
}

.subject-picture-back-shadow {
  &:before {
    border-radius: 4px;
    background-color: #e0e0e0;
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
    transform: rotate(-5deg) translate(9px, 0);
    width: 100%;
    z-index: -10;
  }
}

.subject-description-header {
  h3 {
    font-size: 40px;
    font-weight: 300;
  }

  .highlight {
    font-weight: 400;
  }

  p {
    font-size: 28px;
  }
}

.subject-description-header-health {
  .highlight {
    color: $red;
  }
}

.subject-description-header-education {
  .highlight {
    color: $orange;
  }
}

.subject-description-buttons {
  button {
    @include default-button;
  }
}

@mixin subject-description-buttons-sign-in($color) {
  background-color: $color;
  color: #fff;

  &:hover {
    border: 1px solid $color;
    background-color: #fff;
    color: $color;
  }
}

@mixin subject-description-buttons-read($color) {
  background-color: #fff;
  color: $color;

  &:hover {
    border: 1px solid $color;
    background-color: $color;
    color: #fff;
  }
}

.subject-description-buttons-sign-in-health {
  @include subject-description-buttons-sign-in($red);
}

.subject-description-buttons-read-health {
  @include subject-description-buttons-read($red);
}

.subject-description-buttons-sign-in-education {
  @include subject-description-buttons-sign-in($orange);
}

.subject-description-buttons-read-education {
  @include subject-description-buttons-read($orange);
}


.subject-description{
  margin-top: 20px;
  margin-bottom: 30px;
}