@import 'mixins';

.subject-header {
  h2 {
    border-radius: 5px;
    border: 1px solid $border-gray;
    font-weight: 300;
    line-height: 60px;
    margin: 20px auto 50px;
    position: relative;
    text-align: center;
    width: 70%;
    font-size: 24px;

    &:before {
      border-top: 1px dashed $border-gray;
      content: ' ';
      display: block;
      left: -23%;
      position: absolute;
      top: 50%;
      width: 20%;
    }

    &:after {
      border-top: 1px dashed #cccccc;
      content: ' ';
      display: block;
      position: absolute;
      right: -23%;
      top: 50%;
      width: 20%;
    }

    .highlight {
      font-weight: 400;
    }
  }
}

@mixin subject($bg-color, $color) {
  h2 {
    background: $bg-color;
  }
  .highlight {
    color: $color;
  }
}

.subject-health {
  @include subject($bg-red, $red);
}

.subject-education {
  @include subject($bg-orange, $orange);
}

.subject-behavior {
  @include subject($bg-purple, $purple);
}

.subject-finance {
  @include subject($bg-green, $green);
}

.subject-security {
  @include subject($bg-yellow, $yellow);
}

.subject-picture, .subject-picture-split {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  text-align: center;
  z-index: 5px;

  p {
    padding-top: 10px;
  }
}

.subject-picture {
  border: 2px solid $border-gray;
  width: 250px;

  figure {
    height: 200px;
    border-bottom: 4px solid $border-gray;
    background-image: url("home-anoynous-images.jpg");
  }
}

#health .subject-picture figure{
  background-size: 280px;
  background-position: -30px 0px;
}

#education .subject-picture figure{
  background-size: 350px;
  background-position: -30px -262px;
}

#security .subject-picture figure{
  background-size: 330px;
  background-position: 0px 197px;
}

#finance .subject-picture figure{
  background-size: 280px;
  background-position: 0px -720px;
}

#behavior .subject-picture figure{
  background-size: 331px;
  background-position: 0px -560px;
}


.subject-picture-split {
  position: relative;

  figure {
    border-bottom: 4px solid #cccccc;
    border-radius: 5px;
    border: 4px solid #cccccc;
    height: 207px;
    width: 308px;
    margin-left: 8px;
  }
}

.subject-picture-split-see-all-posts {
  @include default-button();
  display: block;
  font-size: 20px;
  width: 50%;
  margin: 30px 0 0 25%;
  float: left;
}

.home .subject a{
    color: #fff !important;
}

.home .subject-picture-split-description a {
  color: #333 !important;
  margin: 10px 0;
  float: left;
  width: 100%;
  cursor: pointer;
}

.health-button {
  background-color: $red;
}

.education-button {
  background-color: $orange;
}

.security-button {
  background-color: $yellow;
}

.finance-button {
  background-color: $green;
}

.behavior-button {
  background-color: $purple;
}

.subject-picture-back-shadow {
  &:before {
    border-radius: 4px;
    background-color: #e0e0e0;
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
    transform: rotate(-5deg) translate(9px, 0);
    width: 100%;
    z-index: -10;
  }
}

.subject-description-header {
  h3 {
    font-size: 40px;
    font-weight: 300;
  }

  .highlight {
    font-weight: 400;
  }

  p {
    font-size: 28px;
  }
}

.subject-description-header-health {
  .highlight {
    color: $red;
  }
}

.subject-description-header-education {
  .highlight {
    color: $orange;
  }
}

.subject-description-header-finance {
  .highlight {
    color: $green;
  }
}

.subject-description-header-behavior {
  .highlight {
    color: $purple;
  }
}

.subject-description-header-security {
  .highlight {
    color: $yellow;
  }
}

.subject-description-buttons {
  button {
    @include default-button;
  }
}

@mixin subject-description-buttons-sign-in($color) {
  background-color: $color;
  color: #fff;

  &:hover {
    border: 1px solid $color;
    background-color: #fff;
    color: $color;
  }
}

@mixin subject-description-buttons-read($color) {
  background-color: #fff;
  color: $color;

  &:hover {
    border: 1px solid $color;
    background-color: $color;
    color: #fff;
  }
}

.subject-description-buttons-sign-in-health {
  @include subject-description-buttons-sign-in($red);
}

.subject-description-buttons-read-health {
  @include subject-description-buttons-read($red);
}

.subject-description-buttons-sign-in-education {
  @include subject-description-buttons-sign-in($orange);
}

.subject-description-buttons-read-education {
  @include subject-description-buttons-read($orange);
}

.subject-description-buttons-sign-in-behavior {
  @include subject-description-buttons-sign-in($purple);
}

.subject-description-buttons-read-behavior {
  @include subject-description-buttons-read($purple);
}

.subject-description-buttons-sign-in-finance {
  @include subject-description-buttons-sign-in($green);
}

.subject-description-buttons-read-finance {
  @include subject-description-buttons-read($green);
}

.subject-description-buttons-sign-in-security {
  @include subject-description-buttons-sign-in($yellow);
}

.subject-description-buttons-read-security {
  @include subject-description-buttons-read($yellow);
}


.subject-description{
  margin-top: 20px;
  margin-bottom: 30px;
}