.created-at {
  font-style: italic;
  margin: 0px 0px -8px 0px;
  padding: 0;
  font-size: 13px;
}

.post-title {
  margin: 0 0 10px;
  height: 60px;
  padding: 0;
}

.post-title a {
  font-size: 20px;
  font-weight: 400;
  color: #444;
}

.post-summary {
  height: 80px;
  overflow: hidden;
}
