.how-works{
  float: left;
  width: 100%;
  height: 100%;
  background: #f7bc65 ;
  display: none;
  padding: 2%;
  position: absolute;
  z-index: 99999;

  .how-works-content{
    color: white;

    h3{
      margin: 80px;
    }

    .faca-parte{
      img{
        width: 250px;
      }
    }

    .inicie-magica{
      img{
        width: 130px;
        margin-top: -60px;
      }
    }

    .pronto{
      img{
        width: 180px;
      }
    }
    .row{
      .col-md-4{
        text-align: center;

        p{
          font-size: 17px;
          font-weight: 101 !important;
        }
      }
    }
  }

  #close-how-works{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .how-works-text{
    p{
      margin-left: 70px;
      margin-right: 70px;
    }
  }
}
