.partners-partner {
  margin-top: 50px;
}

.partners-partner-logo-img {
  max-width: 200px;
}
.partners-authors{
  padding: 20px;
  p{
    font-weight: 300;
  }
}

.partner-section {
  top: -75px;
  position: relative;
  .partner-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 245px;
  }

  .partner-content{
    position: relative;
    min-height: 100px;
  }

  .partner-logo {
    background-position: center;
    background-repeat: no-repeat;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -66px;
  }

  .partner-name{
    position: absolute;
    top: -32px;
    margin-left: 160px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .partner-text{
    margin-left: 160px;
    padding-top: 30px;
  }

  .what-title {
    float: left;
    width: 100%;
  }


}
