.profile-child{
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile dd{
  font-weight: 300;
  font-size: 20px;
}

.profile dt {
  font-weight: 400;
  font-size: 13px;
}

.profile-child li{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
  position: relative;
}
.birth-or-born-date{
  top: 10px;
}
@mixin profile-border {
  border-style: solid;
  border-width: 4px;
  height: 88px;
}

.profile-personal-info{
  @include profile-border;
  background-color: #EEF8FA;
  border-color: #D4EBF1;
  width: 36%;
}

.profile-name{
  width: 52%;
  margin-right: 12px;
}

.profile-text{
  margin-left: 50px;
}

li.child-entry:nth-child(odd) .profile-child-info{
  @include profile-border;
  background-color: #FFF8F0;
  border-color: #FAEBD8;
  width: 36%;
}

li.child-entry:nth-child(even) .profile-child-info{
  @include profile-border;
  background-color: #FCFFEE;
  border-color: #EAF4D1;
  width: 36%;
}

li.child-entry:nth-child(odd) .child-name{
  margin-right: 12px;
  width: 50%;
}

li.child-entry:nth-child(even) .child-name{
  margin-right: 12px;
  width: 52%;
}

.child-text-name{
  margin-left: 10px;
}

.profile h3{
  text-transform: uppercase;
  font-weight: 300;
}

.contact-border{
  border-style: solid;
  border-width: 4px;
  border-color: #EAEAEA;
  width: 47%;
}

.contact-address{
  margin-right: 14px;
  margin-left: 25px;
}

.contact-border-title{
  background-color: #EAEAEA;
  margin-left: -30px;
  margin-bottom: 11px;
  padding-right: 495px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  margin-top: -15px;
}

.profile figure {
  position: absolute;
  z-index:9;
  overflow: hidden;
  border-radius: 1000px;
  float: left;
  border: 3px solid #BBB;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
}

.profile-personal figure {
  height: 130px;
  width: 130px;
  top: 88px;
  left: 42px;
}

.profile-personal figure img {
  position: relative;
  min-width: 130px;
  min-height: 130px;
  right: 50%;
}

.profile-mother figure {
  height: 100px;
  width: 100px;
  top: -6px;
  left: 19px;
}

.profile-mother figure img {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  right: 50%;
}

.week_to_date_number{
  position: relative;
  float: left;
}

.birth-date-obs{
  font-size: 12px;
  font-weight: bold;
}

.add-children-button{
  border-radius: 3px;
  font-weight: 200;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  width: 250px;
  border: 0px none;
  background-color: #F69343;
  color: #FFF;
  height: 40px;
  margin: 10px auto 0px auto;
  position: relative;
  top: 10px;
}

.phone-system-profile{
  img{
    position: relative;
    width: 40px;
    top: -5px;
  }
}

.phone-stores-links{
  display: none;
}

.store-android{
  a{
    padding: 7px;
    font-size: 14px;
    background-color:  #002B53;
    color: white;
    border: 0px none;
    border-radius: 5px;
    cursor: pointer;

  }
  a:hover{
    text-decoration: none;
  }

  img{
    width: 20px;
  }
}

.change-password-submit{
  padding: 10px;
  float: right;
}
.profile-form-child{
  legend{
    border-bottom: none !important;
    width: auto !important;
    font-size: 19px;
    font-weight: 300;
  }
}
