.site-body {
  margin-top: 50px;
}

.site-body-how-it-works-header {
  font-weight: 300;
  font-size: 35px;
  text-transform: uppercase;
}

.site-body-how-it-works-list {
  margin-top: 40px;
  list-style: none;
  padding: 0;
  position: relative;
}

.site-body-how-it-works-item {
  float: left;
  margin-right: 20px;
  text-align: center;
  position: relative;
  width: 200px;

  figure {
    border-radius: 50%;
    border: 1px solid #ccc;
    height: 150px;
    margin: 0 auto;
    position: relative;
    width: 150px;
  }

  p {
    margin-top: 20px;
  }
}

.site-body-categories-list {
  border-color: #ccc;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px 1px 8px;
  box-shadow: 0 2px 40px #ccc;
  float: right;
  list-style-type: none;
  margin-right: 20px;
  padding: 20px 25px 30px;
  position: relative;
  width: 250px;
}

.site-body-categories-item {
  line-height: 50px;
  font-size: 22px;
  margin: 0;
  padding: 0;

  &:after {
    border-bottom-color: #ccc;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom: 1px dashed #CCC;
    content: '';
    display: block;
    left: 10%;
    position: absolute;
    width: 80%;
  }
}

@mixin category-color($color) {
  border-bottom-color: $color;
  .is-active {
    color: $color;
    &:after {
      border-bottom-color: $color;
      border-bottom-style: solid;
    }
  }
}

.category-health {
  @include category-color($red);
}
.category-education {
  @include category-color($orange);
}
.category-socioemotional {
  @include category-color($purple);
}
.category-finance {
  @include category-color($green);
}
.category-security {
  @include category-color($yellow);
}
