@import 'variables';

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h3{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 34px;
}

section.main.container-fuild {
  float: left;
  width: 100%;
}

.home .col-md-6, .home .col-md-12, .home .col-md-7, .home .col-md-5, .home .col-md-9 {
  margin-left: 0;
  padding: 0 30px 0 0px;
}

.blog-sidebar{
	margin-top: 20px;
}

@import 'header';
@import 'site-banner';
@import 'site-body';
@import 'forms';
@import 'block-categories';
@import 'blog';
@import 'footer';
