.vzr-modal {
  position: fixed;
  z-index: 999;
  background: #fff;
  border-radius: 5px 5px 4px 4px;
  display: none;
  padding: 20px;
}

.vzr-modal.is-visible {
  display: inline;
}

.vzr-modal:before {
  position: fixed;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}

.vzr-modal:after {
  content: '';
  text-align: right;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  border-radius: 5px 5px 4px 4px;
  left: 0;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}

a.vzr-modal-btn-close {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: -30px;
  color: #494949;
  background: #fff;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  line-height: 1;
  text-align: center;
}

a.vzr-modal-btn-close:before {
  content: '×';
  font-size: 20px;
}
