%nav.home-categories
  %ul.home-categories-list.category-health
    %li.home-categories-item.is-active Saúde
    %li.home-categories-item Educação
    %li.home-categories-item Socioemocional
    %li.home-categories-item Finanças
    %li.home-categories-item Segurança
