%section.how-it-works.container-fluid
  .container
    %h1.how-it-works-header Como Funciona?
    %ul.how-it-works-list
      %li.how-it-works-item
        %figure
          %img
        %p Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al.
      %li.how-it-works-item
        %figure
          %img
        %p Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al.
      %li.how-it-works-item
        %figure
          %img
        %p Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut al.
