%section.how-it-works.container-fluid
  .container
    %h1.how-it-works-header Como Funciona?
    %ul.how-it-works-list
      %li.how-it-works-item
        %figure
          %img
        %p Lorem ipsum dolor sit amet
      %li.how-it-works-item
        %figure
          %img
        %p Lorem ipsum dolor sit amet
      %li.how-it-works-item
        %figure
          %img
        %p Lorem ipsum dolor sit amet
