.how-works
  %span#close-how-works
    &#10006;
  .how-works-content
    %h3
      Como Funciona
    .row
      .col-md-4.faca-parte
        = image_tag 'como-funciona-probebe-final1.png'

      .col-md-4.inicie-magica
        = image_tag 'como-funciona-probebe-final2.png'

      .col-md-4.pronto
        = image_tag 'como-funciona-probebe-final3.png'

    .row.how-works-text
      .col-md-4.faca-parte
        %h4
          Faça Parte
        %p
          Faça seu cadastro aqui no site e, em seguida, baixe o aplicativo (na Apple Store ou Google Play Store). Ou, ainda, receber as mensagens pelo SMS.
      .col-md-4.inicie-magica
        %h4
          Inicie a mágica
        %p
          Você receberá as indicações de que precisa. Tudo no momento certo!
      .col-md-4.pronto
        %h4
          Pronto!
        %p
          As mensagens começarão a chegar em seu celular de maneira personalizada: de acordo com a fase de sua gestação ou idade de seu bebê.

