#col-md-12
  = javascript_include_tag 'angular/application'

  - if picture.present?
    - selected_pic = picture.data
    - selected_url = selected_pic.url if selected_pic.present?
    - selected_id = picture.id

  %label
    =field_label
  - if defined?(ng_app_already_included) && ng_app_already_included
    #probebe-images{class: "probebe-gallery-#{type}"}
      %probebe-gallery{:'picture-tag-name' => field_name, :'image-url' => selected_url, :'image-id' => selected_id, type: type, :'crop-ratio' => crop_ratio}
  - else
    #probebe-images{:'ng-app' => 'gallery', class: "probebe-gallery-#{type}"}
      %probebe-gallery{:'picture-tag-name' => field_name, :'image-url' => selected_url, :'image-id' => selected_id, type: type, :'crop-ratio' => crop_ratio}
