%aside.blog-sidebar.col-md-3
  %nav.blog-nav
    %ul.home-categories-list.category-health
      - categories.each do |category|
        %li.home-categories-item
          = link_to category.name, categories_posts_path(category_id: category)

  = render 'post_for_period'

  %nav.blog-tags
    %ul.home-categories-list.category-education
      %h3 Tags
      %li.home-categories-item= render tags
    .more +
