.footer-sin-up.container
  %h2 Faça seu cadastro
  %section.footer-sign-up
    %form
      %fieldset.footer-form-group
        .col-md-5.form-group
          %label.footer-label Nome Completo
          %input.footer-input{ type: 'text' }
        .col-md-5.form-group
          %label.footer-label Seu e-mail
          %input.footer-input{ type: 'text' }
        .form-group.col-md-2
          %button.btn.btn-default.footer-sign-up-button Cadastrar-se

        .footer-sign-up-oauth.col-md-12
          %button.footer-sign-up-facebook
            Usar meu
            %span.highlight Facebook
          %span.footer-sign-up-or
            ou
          %button.footer-sign-up-google-plus
            Usar meu
            %span.highlight Google Plus
