%section.subjects.container
  .subject.col-md-9
    .row.col-md-12
      = render 'subject_header_health'
    .col-md-6
      .subject-picture-split
        %figure
          %img
        .subject-picture-split-description
          %p
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
    .col-md-6
      .subject-picture-split
        %figure
          %img
        .subject-picture-split-description
          %p
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
    %button.subject-picture-split-see-all-posts.health-button.center-block
      Ver todos os posts na categoria
