.site-footer.row
  .site-map.col-md-3.col-sm-3
    %h4
      ProBebê
    - base_menus.each do |menu|
      - if child_menus(menu.id).empty?
        = build_link_to(menu)
      - else
        = menu.name
        %ul
          - child_menus(menu.id).each do |submenu|
            %li= build_link_to(submenu)

  .footer-categories.col-md-3.col-sm-3
    %h4
      Especialidades
    %ul
      - Category.to_show_in_home.each do |category|
        %li= link_to category.name, categories_articles_path(category.id)

  .footer-partners.col-md-6.col-sm-6
    %h4
      Parceiros

    .partners-container.row
      %figure.google.col-md-4.col-sm-4
        %img.partners-partner-logo-img{ src: image_path('logo-google.png') }

      %figure.cria.col-md-4.col-sm-4
        %img.partners-partner-logo-img{ src: image_path('logo-cria.png') }

      %figure.siteawi.col-md-4.col-sm-4
        %img.partners-partner-logo-img{ src: image_path('logo-sitawi.png') }
