.site-footer.row
  .site-map.col-md-3.col-sm-3
    %h4
      ProBebê
    - base_menus.each do |menu|
      - if child_menus(menu.id).empty?
        .menu-footer-link= build_link_to(menu)
      - else
        = menu.name
        %ul
          - child_menus(menu.id).each do |submenu|
            %li= build_link_to(submenu)

  .footer-categories.col-md-3.col-sm-3
    %h4
      Especialidades
    %ul
      - Category.to_show_in_home.each do |category|
        %li= link_to category.name, categories_articles_path(category_id: category)

  .footer-partners.col-md-6.col-sm-6
    %h4
      Parceiros

    .partners-container.row
      %figure.google.col-md-4.col-sm-4
        %img.partners-partner-logo-img{ src: image_path('logo-google.png') }

      %figure.cria.col-md-4.col-sm-4
        %img.partners-partner-logo-img{ src: image_path('logo-cria.png') }

      %figure.siteawi.col-md-4.col-sm-4
        %img.partners-partner-logo-img{ src: image_path('logo-sitawi.png') }

  .footer-partners.col-md-6.col-sm-6.row.stores
    .col-md-6.col-sm-6
      %h4
        Disponível já

      .col-md-6.col-sm-6{style: "padding-left: 0px; margin-top: 10px;"}
        %figure.store-app
          %a{href: "https://play.google.com/store/apps/details?id=br.org.probebe&hl=pt_BR", target: "_blank"}
            %img.partners-partner-logo-img{ src: image_path('app-store.svg') }

      .col-md-6.col-sm-6{style: "padding-left: 0px; margin-top: 10px;"}
        %figure.store-gp.col-md-4.col-sm-4
          %a{href: "https://itunes.apple.com/br/app/pro-bebe/id1033366874?mt=8", target: "_blank"}
            %img.partners-partner-logo-img{ src: image_path('google-play.svg') }

    .col-md-6.col-sm-6
      %h4
        Acompanhe também
      %figure.fb
        %a{href: "https://www.facebook.com/brprobebe", target: "_blank"}
          %img.partners-partner-logo-img{ src: image_path('fb-logo.svg') }
