.site-banner
  %ul.site-banner-list
    %li.site-banner-item
      %figure.site-banner-image{ style: "background-image: url(http://s3-us-west-2.amazonaws.com//probebe-uploads/articles/journalistic_articles/covers/000/000/650/original/probb_372.jpg)" }
        %img{ src: 'http://s3-us-west-2.amazonaws.com//probebe-uploads/articles/journalistic_articles/covers/000/000/650/original/probb_372.jpg' }
