.site-footer.row
  .site-map.col-md-4
    %h5
      probebê
    %ul
      %li= link_to 'Quem Somos', about_path
      %li= link_to 'O que é o ProBebê', what_path
      %li= link_to 'Parceiros', partners_path
      %li= link_to 'Artigos', posts_path
